@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    color: #222222;
  }
  .bg-primary {
    background-color: #222222;
  }
  .border-primary {
    border-color: #222222;
  }
  .ring-primary {
    --tw-ring-color: #222222;
  }
  .text-dark {
    color: #212121;
  }
  .bg-dark {
    background-color: #212121;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
